/*
============================================================
ARQUIVO: style.css
PROJETO: Moda Urbana - Atividade HTML5 + CSS3 + Bootstreap Grid
OBJETIVO: Reproduzir o layout visual apresentado em aula.
============================================================
*/

/* RESET BÁSICO
   Remove margens e espaçamentos padrões do navegador para facilitar o controle do layout. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Faz width/height incluírem padding e border */
}   

/* BODY
   Define fonte padrão, cor do texto e fundo geral do site. */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #D5D1CA;
    color: #fe0000;
   }

.Topo{
     background-color: #FFF6F6;
}

.nav{
    gap:24px
}

.nav a{
    text-decoration:none
}

.topo-bootstrap {
    height: 82px;  
}

.logo img {
    width: 80px;
    height: 80px;
}

.logo a{
    text-decoration: none;
}

.logo h3{
    padding-top: 15px;
}



/* Botão Esquerdo */

.carousel-control-prev{
justify-content: flex-start;
padding-left: 40px;
}

/* Botão Direito */

.carousel-control-next{
justify-content: flex-end;
padding-right: 40px;
}