<!-- 
COMPONENTIZAÇÃO DO FOOTER (CRIAR UM ARQUIVO QUE CONTENHA UMA PARTE REDUNDANTE
E REUTILIZÁ-LA EM OUTRA PÁGINAS ATRAVÉS DE CHAMADAS VIA SCRIPT) 
-->
 <link rel="stylesheet" href="../css/style.css">
 <footer class="footer">
    <div class="container">

        <div class="row align-items-center">

            <!-- Logo -->
            <div class="col-12 col-md-4 text-center text-md-start mb-4 mb-md-0">

                <div class="d-flex align-items-center justify-content-center justify-content-md-start">
                    <img src="../img/Logo1.png" class="footer-logo">

                    <h2 class="logo-nome ms-3">
                        Fauna<br>Alerta
                    </h2>
                </div>

            </div>

            <!-- Contato -->
            <div class="col-12 col-md-4 text-center mb-4 mb-md-0">

                <p class="telefone mb-1 ">
                    <strong>Telefone</strong>
                    <span>(11) 99999-9999</span>
                </p>

                <p class="email">
                    <strong>Email</strong>
                    <a href="mailto:faunalerta@gmail.com"><span>faunalerta@gmail.com</span></a>
                </p>

                <div class="d-flex justify-content-center  justify-content-between gap-4 mt-3">
                    <a href="https://x.com/"><img src="../img/twitter-x-icone.png" class="icone-social"></a>
                    <a href="https://www.facebook.com/?locale=pt_BR"><img src="../img/facebook.png" class="icone-social"></a>
                    <a href="https://www.instagram.com/"><img src="../img/instagram.png" class="icone-social"></a>
                </div>

            </div>

            <!-- Navegação -->
            <div class="links-footer col-12 col-md-4 text-center text-md-end">

                <nav class="footer-nav">
                    <a href="../index.html">Principal</a>
                    <a href="../pages/denuncia.html">Denúncias</a>
                    <a href="../pages/sobre.html">Sobre Nós</a>
                    <a href="../pages/login.html">Login</a>
                </nav>

            </div>

        </div>

    </div>
</footer>