

<header class="Topo">
        <nav class = "navbar navbar-expand-md">
            <div class="container">

                <!--Logo-->

                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="../img/Logo1.png" width="60" alt="Logo">
                    <span class="texto-logo ms-2">FaunaAlerta</span>
                </a>

                <!--botão hamburguer-->

                <button class = "navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
                </button>

                    <!-- Menu -->
                <div class="collapse navbar-collapse" id="menu">

                    <ul class="navbar-nav mx-auto gap-3">

                        <li class="nav-item">
                             <a class="nav-link menu-btn active" href="../index.html">
                                    Principal
                             </a>
                         </li>

                          <li class="nav-item">
                              <a class="nav-link menu-btn" href="../pages/denuncia.html">
                                    Denúncia
                              </a>
                         </li>

                         <li class="nav-item">
                             <a class="nav-link menu-btn" href="../pages/sobre.html">
                                    Sobre
                            </a>
                         </li>

                    </ul>

                        <!-- Usuário -->
                        <a href="../pages/login.html" class="user-btn">
                            <i class="bi bi-person fs-3"></i>
                        </a>

                </div>
         </div>
        
    </nav>        
    </header>