<!-- 
COMPONENTIZAÇÃO DO HEADER (CRIAR UM ARQUIVO QUE CONTENHA UMA PARTE REDUNDANTE
E REUTILIZÁ-LA EM OUTRA PÁGINAS ATRAVÉS DE CHAMADAS VIA SCRIPT) 
-->

<link rel="stylesheet" href="../css/style.css">
<header class="Topo">
        <nav class = "navbar navbar-expand-md">
            <div class="container">

                <!--Logo-->

                <a class="navbar-brand d-flex align-items-center" href="#">
                    <img src="../img/Logo1.png" width="60" alt="Logo">
                    <span class="texto-logo ms-2">FaunaAlerta</span>
                </a>

                <!--botão hamburguer-->

                <button class = "navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
                <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Menu -->
                <div class="menuu collapse navbar-collapse" id="menu">

                    <!--CRIA LISTA NÃO-ORDENADA-->
                    <ul class="navbar-nav mx-auto gap-3">

                        <!-- BOTÃO Home -->
                        <li class="nav-item">
                            
                             <a class="nav-link menu-btn" href="../index.html">
                                    <i class="bi bi-house-door fs-4"></i>
                                    Home
                             </a>
                        </li>

                        <!--BOTÃO ONGS-->
                        <li class="nav-item">
                            
                             <a class="nav-link menu-btn " href="../pages/ONGs.html">
                                    <i class="bi bi-heart fs-4"></i>
                                    ONGs     
                             </a>
                        </li>                       

                        <!-- BOTÃO Denúncia -->
                        <li class="nav-item">
                              
                              <a class="nav-link menu-btn" href="../pages/denuncia.html">
                                    <i class="bi bi-megaphone fs-4"></i>
                                    Denúncia
                              </a>
                        </li>

                        <!-- BOTÃO Sobre -->
                        <li class="nav-item">
                            
                             <a class="nav-link menu-btn" href="../pages/sobre.html">
                                    <i class="bi bi-info-circle fs-4"></i>
                                    Sobre
                             </a>
                        </li>

                    </ul>

                        <!-- BOTÃO Usuário -->
                        <a href="../pages/login.html" class="user-btn">
                            <i class="bi bi-person fs-3"></i>
                        </a>

                </div>
         </div>
        
    </nav>        
    </header>